<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <% listProd.forEach(prod => { %>
      <tr>
        <td><%=prod.id %></td>
        <td><%=prod.title %></td>
        <td>$<%=prod.price %></td>
        <td>
          <img src="<%=prod.thumbnail %>" alt="<%=prod.title %>" width="25" />
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
